header{
background: #fff;
border-bottom: 2px solid #ccc;
}

body{
	background: #C6C6C6
}


/*list-style type does not remove the bullets on my form*/
ul li a{
	color: #999;
	list-style-type: none;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}


/*navigation bar*/ /*for some reason even if I give this text the #fff color it doesnt take*/
.navbar-brand{
	background:#4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;s
    text-align: center;


}



/*sidebar*/

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.sidebar{
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: 2px solid #eee;
}

	
/*footer*/
footer {
  padding: 30px 0; 
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}

/*main contact section*/
.main{
  background: #fff;
  border: 1px solid #ddd;
  color: #999;

}

input[type=submit]{
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
}

/*about page*/

.mypic{
	width:200px;
}